go 1.25.7

use (
	./cmd/color-viewer
	./cmd/jediterm-bug
	./teacrumbs
	./teadiffr
	./teadiffview
	./teadiffview/examples/splitdiff
	./teafields
	./teafields/examples/demo
	./teafields/examples/simple
	./teagrid
	./teagrid/examples/filtering
	./teagrid/examples/scrolling
	./teagrid/examples/simplest
	./teagrid/examples/panning
	./teagrid/examples/sorting
	./teahelp
	./tealayout
	./tealayout/examples/collapsible
	./tealayout/examples/golden
	./tealayout/examples/threepane
	./teahilite
	./teamodal
	./teamodal/examples/choices
	./teamodal/examples/editlist
	./teamodal/examples/multiselect
	./teamodal/examples/various
	./teamodal/examples/vertical
	./teanotify
	./teanotify/examples/simple
	./teastatus
	./teastatus/examples/statusbar
	./teatree
	./teatree/examples/drilldown
	./teatree/examples/filetree
	./teatxtsnip
	./teatxtsnip/examples/editor
	./teaguide
	./teaguide/example
	./teautils
	./teautils/examples/keyhelp
	./teautils/examples/theming
)
