go 1.25.7

use (
	./cmd/color-viewer
	./examples/teadrpdwn/demo
	./examples/teadrpdwn/simple
	./examples/teadepview/treenav
	./examples/teagrid/filtering
	./examples/teagrid/scrolling
	./examples/teagrid/simplest
	./examples/teagrid/sorting
	./examples/teamodal/choices
	./examples/teamodal/editlist
	./examples/teamodal/various
	./examples/teamodal/vertical
	./examples/teanotify/simple
	./examples/teastatus/statusbar
	./examples/teatxtsnip/editor
	./examples/teatree/drilldown
	./examples/teatree/filetree
	./examples/teautils/keyhelp
	./teadiffr
	./teahilite
	./teadrpdwn
	./teadepview
	./teagrid
	./teamodal
	./teanotify
	./teastatus
	./teatxtsnip
	./teatree
	./teautils
)
